@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <button onclick="ObservableInterval()">Observable Interval</button>
        <button onclick="Buffer()">Buffer</button>
        <button onclick="Subject()">Subject</button>
        <button onclick="DurArtikBe()">DurArtikBe</button>
        <button onclick="Deniyoruz()">Deniyoruz</button>
        <button onclick="CatchDenemeleri()">CatchDenemeleri</button>
        <button onclick="ConcatDeniyorum()">ConcatDeniyorum</button>
        <button onclick="ZipZip()">ZipZip</button>
        <button onclick="MuthisSeylerWithZipAndThenWhen()">MuthisSeylerWithZipAndThenWhen</button>
        <button onclick="Delay()">Delay</button>
        <button onclick="Sample()">Sample</button>
    </div>

@section Scripts{
    <script>
        var repeat = 0;
        var timeOutVar;
        var connection = new signalR.HubConnectionBuilder().withUrl("/rxHub").build();

        function SignalRStart() {
            connection.start().then(function () {
                repeat = 0;
                clearTimeout(timeOutVar);
            }).catch(function (err) { return console.error(err.toString()); });
        }

        connection.onclose(function () {
            if (repeat == 0) {
                timeOutVar = setInterval(function () {
                    repeat++;
                    if (repeat > 10) {
                        location.reload();
                        return;
                    }
                    SignalRStart();
                }, 2000);
            }
        });
        SignalRStart();

        connection.on("SendTime", function (message) {
            console.log(message);
        });

        function ObservableInterval() { $.get('/home/ObservableInterval');}
        function Buffer() { $.get('/home/Buffer'); }
        function Subject() { $.get('/home/Subject'); }
        function DurArtikBe() { $.get('/home/DurArtikBe'); }
        function Deniyoruz() { $.get('/home/Deniyoruz'); }
        function CatchDenemeleri() { $.get('/home/CatchDenemeleri'); }
        function ConcatDeniyorum() { $.get('/home/ConcatDeniyorum'); }
        function ZipZip() { $.get('/home/ZipZip'); }
        function MuthisSeylerWithZipAndThenWhen() { $.get('/home/MuthisSeylerWithZipAndThenWhen'); }
        function Delay() { $.get('/home/Delay'); }
        function Sample() { $.get('/home/Sample'); }
    </script>
}